@keyframes start1 {
    0%{
        right:-50vw;
    }
    100%{
        right:-15vw;
    }
}
.calcul{
    background-color: rgb(234, 234, 234);
    position:fixed;
    z-index: 101;
    right:-15vw;
    bottom:3vh;
    width:20.5vw;
    height:10vh;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    border:#7469B6 solid 3px;
    box-shadow: 0 0.5vh 0 0 #867b7b;
    transition: all ease 0.3s;
    display: flex;
    justify-content: left;
    align-items: center;
    animation:start1 0.7s;
}
.calcul:hover{
    right:0;
}
.calcul h1{
    font-family: 'GmarketSansMedium';
    margin:0 0 0 1vw;
    border:none;
    display: block;
    color:#7469B6;
    font-size: 120%;
}