@font-face {
  font-family: 'PyeongChangPeace-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@keyframes left {
  0%{margin-left: -100vw;}
  80%{margin-left: -11%;}
  100%{margin-left: -13.5%;}
}
@keyframes right {
  0%{margin-right: -100vw;}
  80%{margin-right: -11%;}
  100%{ margin-right: -13.3%;}
}
@keyframes bottom {
  0%{margin-top: -130vh;}
  80%{margin-top: 11%;}
  100%{   margin-top: 15%;}
}
@keyframes bed {
  0%{margin-top: -120vh;}
  100%{  
    margin-top: 3%;
    margin-left:-2%;}
}
@keyframes carpet {
  0%{margin-top: -120vh;}
  100%{  
    margin-top: 15%;
    margin-left:-10%;}
}
@keyframes chair {
  0%{margin-top: -120vh;}
  100%{  
    margin-top: 9%;
    margin-left:8%;}
}
@keyframes desk {
  0%{margin-top: -120vh;}
  100%{  
    margin-top: 7%;
    margin-left:12%;}
}
@keyframes clock {
  0%{
    margin-top: 120vh;
    margin-left: -120vw;}
  100%{  
    margin-top: -6%;
    margin-left:18%;}
}
@keyframes title {
  0%{margin-top: -120vh;}
  100%{ margin-top:-35%; }
}
@keyframes title_under {
  0%{margin-top: -120vh;}
  100%{ margin-top:-30%; }
}
&{
  overflow:hidden;
}
.App{
  height: 100vh;
  width: 100vw;
  background-color: #7469B6;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.bottom{
  position:absolute;
  width:25%;

  animation: bottom 1s forwards;
}
.window{
  position:absolute;
  width:13.5%;
  margin-top: -4%;

  animation: left 1s forwards;
}
.right{
  position:absolute;
  width:13.4%;
  margin-right: -13.3%;
  margin-top: -4%;

  animation: right 1s forwards;
}
.bed{
  position:absolute;
  width:10%;
  margin-top: -120vh;
  margin-left:-2%;

  animation: bed 1s 0.3s forwards;
}
.carpet{
  position:absolute;
  width:10%;
  margin-top: -120vh;
  margin-left:-10%;
  animation-delay: 10s;

  animation: carpet 1s 0.4s forwards;
}
.chair{
  z-index: 2;
  position:absolute;
  width:4%;
  margin-top: -120vh;
  margin-left:5%;
  animation-delay: 10s;

  animation: chair 1s 0.6s forwards;
}
.desk{
  z-index: 1;
  position:absolute;
  width:7%;
  margin-top: -120vh;
  margin-left:5%;
  animation-delay: 10s;

  animation: desk 1s 0.8s forwards;
}
.clock{
  z-index: 1;
  position:absolute;
  width:2.5%;
  margin-top: -120vh;
  margin-left:5%;
  animation-delay: 10s;

  animation: clock 1s 1s forwards;
}
.bo_title{
  position:absolute;
  margin-bottom: -40%;
  font-family:'PyeongChangPeace-Bold';
  text-decoration: none;
  color:#FFE6E6;
  font-size:x-large;
  transition: all ease 0.5s;
}
.bo_title:hover{
  font-size: xx-large;
}
.home_title{
  position:absolute;
  font-family:'PyeongChangPeace-Bold';
  text-decoration: none;
  color:#FFE6E6;
  font-size:500%;
  margin-top: -150vh;

  animation: title 1s 0.5s forwards;
}
.home_title_under{
  background-color: #FFE6E6;
  width:30vw;
  height:0.5vh;
  border:none;
  border-radius: 30em;
  margin-top:-120vh;

  animation: title_under 1s 0.5s forwards;
}